.sidenav {
  height: 100%;
  width: 160px;
  box-shadow: inset -2px 0 2px #0000001c;
  background-color: gray;
  overflow-y: hidden;
  padding-top: 20px;
  text-align: center;

  .link {
    color: white;
  }
}
