@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

.sidenav {
  height: 85vh;
  width: 15vw;
  box-shadow: inset -2px 0 2px #0000001c;
  background-color: #d39b54;
  overflow-y: auto;
  padding-top: 20px;
  text-align: center;

  .link {
    color: #766845;
    font-size: 25px;
    font-family: 'Cookie', cursive;
  }
}
.Recipes {
  box-shadow: 10px 10px 12px 10px #d39b54;
}
span {
  font-size: 30px;
  color: #ffff;
  font-weight: 600;
  font-family: 'Pacifico', cursive;
  -webkit-text-stroke: 1px #8a898d;
}

.Box {
  border-bottom: 1px solid #d49e55;
  box-shadow: 10px 10px 12px 10px#f0c966;
}

@media screen and (max-width: 600px) {
  .sidenav .link {
    font-size: 17px;
  }
  .Recipes span {
    font-size: 17px;
    box-shadow: 10px 10px 12px 10px #d39b54;
  }
}
